/*  your css code here. If applicable */
.Pragraph-1{
	color:#00f;
	Background color: #eee;
	font-family: Arial;
	font-size:20px;
}
.Pragraph-3{
	color:#00f;
	Background color: #eee;
	font-family: Arial;
	font-size:20px;
}